import React from 'react';
import classNames from 'classnames';
import PropTypes from 'prop-types';

import css from './{{componentName}}.css';

const {{componentName}} = ({ className }) => {
  return (
    <section className={classNames(css.root, className)}>
      <div className={css.container}>
        <h3 className={css.header}>{{componentName}} is here!</h3>
        <p className={css.description}>
          Some description is here
        </p>
      </div>
    </section>
  );
};

{{componentName}}.defaultProps = {
  className: undefined
};

{{componentName}}.propTypes = {
  className: PropTypes.string
};

export default {{componentName}};
